
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEF6EC;
}

.welcome {
  padding-top: 8em;
  font-family: 'Spectral SC', serif;
  color: #1D1A16;
  font-size: 28px;
}

.coming-soon{
  padding-top: 3em;
  font-size: 20px;
  margin-bottom: 2em;
  font-family: 'Arapey', serif;
  color: #1D1A16;
}

img {
  height: 325px;
  width: 250px;
  border-radius: 2px;
}